<div class="row">
  <div class="col-5">
    <app-liste (eventToCv)="recupererCandidatClicke($event)"></app-liste>
  </div>
  <div class="col-7">
    @if (selectedCandidate) {
    <app-details [selCandidate]="selectedCandidate"></app-details>

    } @else {
    <i>Veuillez sélectionner un candidat</i>
    }
  </div>
</div>

<button (click)="addNewCandidate()" class="btn btn-outline-primary">
  Add Candidate
</button>
<button (click)="showCandidatesList()" class="btn btn-outline-danger">
  Candidats[] vue par CVComponent
</button>
