@if (showError) {
<div class="alert alert-danger">Login et/ou mot de passe erronés</div>

}

<form #f="ngForm">
  <label for="">Nom d'utilisateur</label>
  <input
    #inpLogin="ngModel"
    ngModel
    required
    email
    name="email"
    type="text"
    class="form-control"
  />

  @if (inpLogin.invalid && inpLogin.dirty && inpLogin.value.length > 1) {
  <div class="alert alert-danger">Veuillez saisir une adresse mail valide</div>
  }

  <label for="">Mot de passe</label>
  <input
    ngModel
    required
    minlength="4"
    name="password"
    type="text"
    class="form-control"
  />
  <br />
  <div class="row">
    <div class="col-6 offset-4">
      @if (showLogin) {
      <button type="submit" (click)="submitHandler(f)" class="btn btn-primary">
        Se connecter
      </button>
      <button type="button" (click)="toggleShowLogin()" class="btn btn-warning">
        Aller à Register
      </button>

      } @else {
      <button type="submit" (click)="submitHandler(f)" class="btn btn-dark">
        S'inscrire
      </button>
      <button type="button" (click)="toggleShowLogin()" class="btn btn-info">
        Aller à Login
      </button>

      }
    </div>
  </div>
  <!-- 
  <label for="">Langage préféré</label>
  <select name="langage" [ngModel]="defaultLanguage" class="form-control">
    @for (lang of languages; track $index) {
    <option [value]="lang">{{ lang }}</option>
    }
  </select>
  <hr />
  <p>Default Language : {{ defaultLanguage }}</p>

  <br />

  <label for="">Commentaire</label>
  <textarea
    class="form-control"
    [(ngModel)]="monCommentaire"
    name="comment"
    cols="5"
    rows="4"
  ></textarea>
  <hr />
  <p>Mon Commentaire: {{ monCommentaire }}</p>

  <br />

  <label for="">Gestion des erreurs</label>
  <input
    #exp="ngModel"
    type="text"
    required
    minlength="4"
    pattern="nidhal"
    class="form-control"
    name="exemple"
    ngModel
  />

  @if(exp.invalid) { @if (exp.errors["required"]) {
  <div class="alert alert-info">Ce champ est obligatoire</div>
  } @if (exp.errors["minlength"]) {
  <div class="alert alert-info">Le nombre minimum de caractères est 4</div>
  } @if (exp.errors["pattern"]) {
  <div class="alert alert-info">Le pattern est 'nidhal'</div>
  } }

  <pre>
    {{ f.value | json }}
  </pre> -->

  <!-- <button type="submit" (click)="genererMotDePasse(f)" class="btn btn-warning">
    Generer Mot de passe
  </button>
  <button type="submit" (click)="resetForm(f)" class="btn btn-dark">
    Reset
  </button> -->
</form>
