<form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
  <label for="">Prénom</label>
  <input
    [ngModel]="candidateToEdit.prenom"
    name="prenom"
    type="text"
    class="form-control"
  />
  <label for="">Nom</label>
  <input
    [ngModel]="candidateToEdit.nom"
    name="nom"
    type="text"
    class="form-control"
  />
  <label for="">Age</label>
  <input
    [ngModel]="candidateToEdit.age"
    name="age"
    type="number"
    class="form-control"
  />
  <label for="">Profession</label>
  <input
    [ngModel]="candidateToEdit.profession"
    name="profession"
    type="text"
    class="form-control"
  />
  <label for="">Avatar</label>
  <input
    [ngModel]="candidateToEdit.avatar"
    name="avatar"
    type="text"
    class="form-control"
  />

  <br />

  <button class="btn btn-primary">Ajouter Candidat</button>
</form>
